.welcome{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(src/assets/background/background.png);
    background-size:cover; 
    background-position: center; 

}

